.competences-content{
    display:flex;
    flex-flow: row;
    position: relative;
    top: 45px;
    width: 100%;
    margin-left: 5%;
}

.competences-text-content{
    flex-direction: column;
    margin-right: 15px;
    width: 50%;
    max-height: 370px;
}

.competences-title{
    font-family: Poppins-bold;
    color: #200A40;
    font-size: 44px;
    letter-spacing: 1px;
}

.competences-text{    
    font-family: Poppins-regular;
    font-size: 15px;
    line-height: 20px;
    overflow-y: auto;
    max-height: 120%;
    margin-top: 30px;
}

.competences-image{
    height: 490px;
    margin-top: 30px;
}

@media screen and (max-width:1790px){
    .competences-image{
        height: 450px;
        margin-top: 75px;
    }

}

@media screen and (max-width:1650px){
    .competences-content {
        flex-flow: column;
        justify-content: center;
        margin-left: 0%;
    }

    .competences-image {
        width: 75%;
        height: auto;
        margin: auto;
    }

    .white_carte{
        top: 115px;
        transform: initial;
    }

    .competences-text-content {
        margin: auto;
        width: 80%;
    }

    .competences-text{    
        max-height: none;
    }

    .competences-text-content{
        max-height: none;
    }
}