.profil_main_title{
    font-size: 44px;
    font-family: Poppins-bold;
    letter-spacing: 1px;
    margin-left: -2%;
    float: left;
    margin-top: 55px;
}

.horizontal_bar_profil{
    border-top: 3px solid #441468;
    width: 83px;
    left: 273px;
    position: absolute;
    margin-top: 110px;
}

.vertical_bar_profil{
    border-left: 2px solid #441468;
    height: 350px;
}

.profil_description_text{
    font-size: 18px;
    font-family: Poppins-regular;
    width: 50%;
    height: 350px;
    overflow-x: auto;
}

.profil_description_div{
    margin-top: 70px;
    float: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.picture_of_me_contact{
    width: 160px;
}

.citation{
    font-family: Poppins-medium-italic;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}

.right-arrow-contact{
    width: 30px;
    height: 30px;
    margin-top: 66px;
    margin-left: 30px;
}

@media screen and (max-width: 1350px) {
    .profil_main_title {
        float: left;
        margin-right: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .profil_main_title {
        float: center;
        text-align: center;
        width: 100%;
    }

    .horizontal_bar_profil {
        left: 273px;
        position: absolute;
        margin-top: 142px;
    }

    .profil_content_1 {
        margin-top: 15px;
    }

    .arrow_cv_study_content_profil {
        margin-top: 15px;
    }
    
    .profil_description_text{
        width: 75%;
    }
}

.profil_description_content_with_bars{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.cv_study_content_profil{
    display: flex;
    flex-flow: column;
}

.rect_img_cat_profil{
    width: 200px;
    border-radius: 6px;
}

.icon_profil{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.content_title_cat_profil{
    flex-flow: row;
    display: flex;
    margin-top: 10px;
}

.title_cat_profil{
    font-family: Avenir-book;
    font-size: 18px;
    letter-spacing: 1px;
}

.left-arrow-contact{
    width: 30px;
    height: 30px;
    margin-top: 100px;
    margin-right: 30px;
}

.arrow_cv_study_content_profil{
    display: flex;
    flex-flow: row;
    margin-right: 30px;
}

/**Changement**/
.profil_content_1{
    display: flex;
    flex-flow: row wrap;
}

.profil_picture_content_with_citation{
    display: flex;
    flex-flow: column wrap;
    width: 160px;
}
