.white_carte{
    background-color: #fffcfc;
    width: 78%;
    left: 8%;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
}
@media screen and (max-width: 520px) {
    .white_carte{
        width: 82%;
    }
}
@media screen and (max-width: 1200px) {
    .white_carte{
        top: 115px;
        transform: initial;
    }
}
.category_icon{
    width: 30px;
    height: auto;
    margin-left: 33px;
    margin-top: 23px;
    float: left;
    margin-right: 15px;
}

.category_title{
    font-family: Avenir-book;
    font-size: 16px;
    letter-spacing: 4px;
    margin-top: 29px;
    width: auto;
    margin-right: 10px;
    float: left;
}

.close_page_icon{
    width: 30px;
    height: auto;
    float: right;
    margin-top: -29px;
    margin-right: 30px;
}

.card_ligne_points{
    margin-top: 34px;
}

@media screen and (max-width: 1200px) {
    .close_page_icon {
        margin-top: 24px;
    }
}

@media screen and (max-width: 800px) {
    .category_title {
        font-size: 11px;
        margin-top: 33px;
    }
}

.spacer {
    height: 150px;
    margin: 0 0 -50px 0;
    /* margin: 20px 0 -50px 0; use this if you want #container to have a 'bottom padding', in this case of 20px */
    background: transparent; /* you'll need this if #container's parent element has a different background from #container itself */
}