 .project_image{
    width: 60%;
}

.project_list{
    padding-left: 30px;
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow-y: auto;
}

.project_title{
    font-family: Avenir-book;
    color: #200A40;
    font-size: 30px;
    margin-left: 5%;
    border-style: dotted;
    border-color: black;
    width: 200px;
    height: 100%;
}

.content_presentation{
    margin-top: 40px;
}

.row_presentation{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.text_presentation{
    font-family: Avenir-book;
    color: #200A40;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 60px;
    line-height: 160%;
}


@media screen and (max-width: 1000px){
    
    .row_presentation{
        flex-flow: column;
        margin-top: 30px;
    }

    .project_title{
        margin-top: 30px;
    }
} 